<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huamu668.demo.mapper.TreeMapper">
    <resultMap id="BaseResultMap" type="com.huamu668.demo.domain.Tree">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pinyin_name" property="pinyinName"/>
        <result column="intro" property="intro"/>
        <result column="update_time" property="updateTime"/>
        <result column="spec" property="spec"/>
        <result column="store" property="store"/>
        <result column="delete_flg" property="deleteFlg"/>
        <result column="sign" property="sign"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tree
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.huamu668.demo.domain.Tree" useGeneratedKeys="true" keyProperty="id">
        insert into tree (name, pinyin_name, intro, update_time, spec, store, delete_flg, sign)
        values (#{name}, #{pinyinName}, #{intro}, #{updateTime}, #{spec}, #{store}, #{deleteFlg}, #{sign})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.huamu668.demo.domain.Tree">
        update tree
        set name        = #{name},
            pinyin_name = #{pinyinName},
            intro       = #{intro},
            update_time = #{updateTime},
            spec        = #{spec},
            store       = #{store},
            delete_flg  = #{deleteFlg},
            sign        = #{sign}
        where id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id,
               name,
               pinyin_name,
               intro,
               update_time,
               spec,
               store,
               delete_flg,
               sign
        from tree
        where id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               name,
               pinyin_name,
               intro,
               update_time,
               spec,
               store,
               delete_flg,
               sign
        from tree
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        select id,
               name,
               pinyin_name,
               intro,
               update_time,
               spec,
               store,
               delete_flg,
               sign
        from tree
        where name = #{name}
    </select>
    <select id="selectByPinyinName" resultMap="BaseResultMap">
        select id,
               name,
               pinyin_name,
               intro,
               update_time,
               spec,
               store,
               delete_flg,
               sign
        from tree
        where pinyin_name = #{pinyinName}
    </select>
</mapper>